<!DOCTYPE html>
<head>
	{% load static %}
	<link rel='stylesheet' href="{% static 'home.css' %}" >

</head>
<body>
<div class='welcome'>
<h1>WELCOME TO GET INFO !</h1>
</div>
<h4>Pick one of these 👇</h4>
<section>

<div class='ms'>
<img class='phone' src="{% static 'images/best.jpeg' %}" alt='mobile'>
<a href="mobile/" target='_blank'>
<div class='io'>
<div class='title'>Cell Phone's</div>
</div>
</a>
</div>

<div class='ls'>
<img class='lap' src="{% static 'images/laptop.png' %}" alt='laptop'>
<a href='laptop/' target='_blank'>
<div class='lo'>
<div class='title'>Laptop's</div>
</div>
</a>
</div>

<div class='ts'>
<img class='tv' src="{% static 'images/tv.jpeg' %}" alt='tv'>
<a href="tv/" target='_blank'>
<div class='to'>
<div class='title'>Tv's</div>
</div>
</a>
</div>

</section>

</body>