<!DOCTYPE html>
<title>Cell Phone's</title>
{% load static %}
<link rel='stylesheet' href="{% static 'mobile.css' %}">
</head>

<body>
<div class='intro'>
<h1>Mobile phone</h1>
</div>
<div class='box'>
<p>
<b class='fact'> Did You Know !</b><br><br>
<b style='font-size:2em'>T</b>he first handheld mobile phone was demonstrated by <b>Martin Cooper</b> of Motorola in New York City in 1973, using a handset weighing c. 2 kilograms (4.4 lbs).
 <br> In 1979, Nippon Telegraph and Telephone (NTT) launched the world's first cellular network in Japan.
</p>
</div>

<div class='container'>
<div class='processor'>

</div>

<div class='display'>

</div>

<div class='camera'>

</div>

</div>
</body>